section.activity
    .container.d-flex
        .activity__left 
            h2.section-title.activity__title ACTIVITY
            h3.activity__subtitle Camp Will Be For You What You Want It To Be.
            img(src="/img/activity-objects.png" alt="activity object").activity__object
        ul.activity__list.d-flex.gap-5
            .activity__parent.list-reset.mb-5
                li.activity__item 
                    img(src="/img/activity-1.png" alt="activity icons").activity__item-img
                    h4.activity__item-title Wild Life
                    p.activity__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum.
                li.activity__item 
                    img(src="/img/activity-2.png" alt="activity icons").activity__item-img
                    h4.activity__item-title Bonfire
                    p.activity__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum.
            .activity__parent.list-reset.mt-5
                li.activity__item 
                    img(src="/img/activity-3.png" alt="activity icons").activity__item-img
                    h4.activity__item-title Canoeing
                    p.activity__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum.
                li.activity__item 
                    img(src="/img/activity-4.png" alt="activity icons").activity__item-img
                    h4.activity__item-title Hiking
                    p.activity__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum.