footer.footer.d-flex.justify-content-between#footer
    .footer__left 
        h2.footer__title SUBSCRIBE TO OUR NEWSLETTER
        .input-container
            input(type="email" placeholder="Enter Your Email Address").footer__input
            img(src="/img/footer-arrow.png" alt="Footer arrow").next-arrow
        p.footer__license Copyright Dotcreativemarket
    .footer__right 
        p.footer__descr Sitemap
        ul.footer__list.list-reset.d-flex
            li.footer__item 
                a.footer__link(href="/") Home 
            li.footer__item 
                a.footer__link(href="/about") About 
            li.footer__item 
                a.footer__link(href="/campground") Campground 
            li.footer__item 
                a.footer__link(href="/news") News 
        .footer__contacts Contact
            p.footer__contact Dotcreativemarket.com
            p.footer__contact info@dotcreativemarket.com
        ul.footer__icons.list-reset.d-flex
            li.footer__icon 
                img(src="/img/footer-icon-1.png" alt="Footer icon")
            li.footer__icon 
                img(src="/img/footer-icon-2.png" alt="Footer icon")
            li.footer__icon 
                img(src="/img/footer-icon-3.png" alt="Footer icon")
            li.footer__icon 
                img(src="/img/footer-icon-4.png" alt="Footer icon")