section.gallery 
    .container.d-flex.justify-content-between
        .gallery__left 
            h2.gallery__title Our Gallery
            p.gallery__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus erat a consectetur sollicitudin. In id dapibus lorem. 
        img(src="/img/gallery-1.jpg", alt="Gallery image").gallery__img