include head 
.container 
    h1.mb-5.mt-5 Your profile
    .profile-info.d-flex.flex-column.gap-3
        span.email-info Your email: #{user.email }
        span.created-info Your account created at: #{formattedTime}
        span.updated-info Your account updated at: #{updatedTime}