include head
.container 
    form(action="/signup" method="post").d-flex.flex-column.justify-content-center.gap-3#signup-form
        h1.signup-title Create Account
        ul.signup-list.list-reset.d-flex.justify-content-between
            li.signup-item.d-flex.gap-2.align-items-center 
                img(src="/img/google.png" alt="Signup icons")
                span.signup-text Sign up with Google 
            li.signup-item.d-flex.gap-2.align-items-center 
                img(src="/img/facebook.png" alt="Signup icons")
                span.signup-text Sign up with Facebook 
        p.or -OR-
        .input-container
            input(type="email" required placeholder="Email*").signup__input.mb-3#signup-email
            input(type="password" required placeholder="Password*").signup__input.mb-3#signup-password
            input(type="password" required placeholder="Password Confirm*").signup__input#signup-password-confirm
        button.btn.btn-signup(type="submit") Sign up
        .d-flex.gap-2
            span Already have an account? 
            a(href="/login").signup-login Login