section.about
    .container
        h2.section-title.about__title ABOUT 
        h3.about__subtitle Welcome to glamour Camping Ground
        p.about__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum, a varius tortor venenatis. Sed vitae dolor interdum, semper leo at, tristique nisl. Maecenas vitae luctus tortor, vel efficitur sem. Maecenas tincidunt sem nec magna gravida varius. Aliquam nec ligula a augue congue condimentum. Pellentesque eget lorem euismod, viverra nisl in, viverra velit.
        ul.about__list-icons.list-reset.d-flex.justify-content-around.align-items-center
            li.about__item-icon.d-flex
                .about__item-div.d-flex.flex-column.align-items-center.gap-3
                    img(src="/img/about-1.png" alt="About icon")
                    p.about__item-icon-descr 30 CAMPER SITES
            img(src="/img/line.png" alt="Betwenn line")
            li.about__item-icon.d-flex
                .about__item-div.d-flex.flex-column.align-items-center.gap-3
                    img(src="/img/about-2.png" alt="About icon")
                    p.about__item-icon-descr 25 CARAVAN SITES
            img(src="/img/line.png" alt="Betwenn line")
            li.about__item-icon.d-flex
                .about__item-div.d-flex.flex-column.align-items-center.gap-3 
                    img(src="/img/about-3.png" alt="About icon")
                    p.about__item-icon-descr 50 TENT SITES
            img(src="/img/line.png" alt="Betwenn line")
            li.about__item-icon.d-flex
                .about__item-div.d-flex.flex-column.align-items-center.gap-3 
                    img(src="/img/about-4.png" alt="About icon")
                    p.about__item-icon-descr 10 GLAMP SITES
            img(src="/img/line.png" alt="Betwenn line")
            li.about__item-icon.d-flex.flex-column.align-items-center.gap-3
                img(src="/img/about-5.png" alt="About icon")
                p.about__item-icon-descr 10 CABIN HOUSES
        ul.about__list.list-reset.d-flex.gap-4
            li.about__item.d-flex.align-items-center.flex-column
                img(src="/img/about-1.jpg" alt="About image").about__item-img
                h4.about__item-title Camping area for tents
                p.about__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum, a varius tortor venenatis. Sed vitae dolor interdum.
            li.about__item.d-flex.align-items-center.flex-column
                img(src="/img/about-2.jpg" alt="About image").about__item-img
                h4.about__item-title Trailers and RV spots
                p.about__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum, a varius tortor venenatis. Sed vitae dolor interdum.
            li.about__item.d-flex.align-items-center.flex-column
                img(src="/img/about-3.jpg" alt="About image").about__item-img
                h4.about__item-title Cabins and glamping
                p.about__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas nisi nec libero fermentum, a varius tortor venenatis. Sed vitae dolor interdum.