section.booking
    .container 
        h2.section-title.booking__title booking
        h3.booking__subtitle Book your dream vacation now
        ul.booking__list.list-reset.d-flex 
            li.booking__item-parent 
                .booking__item
                    img(src="/img/booking-1.jpg" alt="Booking image")
                    h4.booking__item-subtitle Bell Glamp One
                    span.person-info 2-6 persons
                    p.booking__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ipsum volutpat, maximus lorem sit amet, ullamcorper odio. Vivamus eu ultrices lorem, sed blandit magna. Nullam feugiat quam quis venenatis blandit. 
                    button.btn.booking__btn CHECK AVAILABILITY
                .booking__item 
                    img(src="/img/booking-2.jpg" alt="Booking image")
                    h4.booking__item-subtitle Caravan Soler Tent
                    span.person-info 1-6 persons
                    p.booking__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ipsum volutpat, maximus lorem sit amet, ullamcorper odio. Vivamus eu ultrices lorem, sed blandit magna. Nullam feugiat quam quis venenatis blandit. 
                    button.btn.booking__btn CHECK AVAILABILITY
            li.booking__item-parent 
                .booking__item
                    img(src="/img/booking-3.jpg" alt="Booking image")
                    h4.booking__item-subtitle Glamping Tent
                    span.person-info 1-6 persons
                    p.booking__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ipsum volutpat, maximus lorem sit amet, ullamcorper odio. Vivamus eu ultrices lorem, sed blandit magna. Nullam feugiat quam quis venenatis blandit. 
                    button.btn.booking__btn CHECK AVAILABILITY
                .booking__item
                    img(src="/img/booking-4.jpg" alt="Booking image")
                    h4.booking__item-subtitle Small Cabin Wood
                    span.person-info 1-6 persons
                    p.booking__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ipsum volutpat, maximus lorem sit amet, ullamcorper odio. Vivamus eu ultrices lorem, sed blandit magna. Nullam feugiat quam quis venenatis blandit. 
                    button.btn.booking__btn CHECK AVAILABILITY