include head
include hero
include about
include activity
include bonfire
include booking 
include news
include gallery
include footer
    a(href="/") 
        img(src="/img/up.png" alt="Arrow up").arrow-up