include head
.container 
    form(action="/login" method="post").d-flex.flex-column.justify-content-center.gap-3.login-form
        h1.login-title Login
        ul.login-list.list-reset.d-flex.justify-content-between
            li.login-item.d-flex.gap-2.align-items-center 
                img(src="/img/google.png" alt="Login icons")
                span.login-text Log in with Google 
            li.login-item.d-flex.gap-2.align-items-center 
                img(src="/img/facebook.png" alt="Login icons")
                span.login-text Log in with Facebook 
        p.or -OR-
        .input-container
            input(type="email" name="email" required placeholder="Email*").login__input.mb-3
            input(type="password" name="password" required placeholder="Password*").login__input.mb-3
        button.btn.btn-login(type="submit") Login
        .d-flex.gap-2
            span Don't have an account? 
            a(href="/signup").signup-login Sign up