include head 
.sidebar 
    ul.sidebar__list.list-reset
        a.sidebar__logo(href="/") Logo
        li.sidebar__item 
        if isDashboard
            a.sidebar__link.active(href="/dashboard") Dashboard
        else
            a.sidebar__link(href="/dashboard") Dashboard
        li.sidebar__item
        if isOrders
            a.sidebar__link.active(href="/orders") Orders 
        else
            a.sidebar__link(href="/orders") Orders 
        li.sidebar__item 
        if isShop
            a.sidebar__link.active(href="/shop") Shop
        else
            a.sidebar__link(href="/shop") Shop
        li.sidebar__item 
        if isWishlist
            a.sidebar__link.active(href="/wishlist") Wishlist
        else 
            a.sidebar__link(href="/wishlist") Wishlist 