section.news 
    .container 
        h2.section-title.news__title News 
        .d-flex.align-items-center.justify-content-between
            h3.news__subtitle Lastest Articles
            button.btn.news__btn EXPLORE
        ul.news__list.list-reset.d-flex
            li.news__item 
                img(src="/img/news-1.jpg" alt="News image").news__img
                p.news__descr Sed nec lorem scelerisque, viverra ex ut, interdum massa.
                button.btn.news__btn Read
            li.news__item 
                img(src="/img/news-2.jpg" alt="News image").news__img
                p.news__descr Morbi ligula massa, posuere in finibus ut, varius ac ligula. 
                button.btn.news__btn Read
            li.news__item 
                img(src="/img/news-3.jpg" alt="News image").news__img
                p.news__descr Sed nec lorem scelerisque, viverra ex ut, interdum massa.
                button.btn.news__btn Read